.eweb_popups_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4000;
}

.eweb_popups_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

.eweb_popups_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 580px;
    max-height: 80%;

    font-size: 1.25rem;
    line-height: 1.5;
    background: #fff;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 1.5rem;
    z-index: 1;
}

.eweb_popups_title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: left;
}

.eweb_popups_content {
    margin-bottom: 2rem;
    max-height: 200px;
    overflow-y: auto;
}

a.eweb_popups_button,
a.eweb_popups_button:visited,
a.eweb_popups_button:not([href]),
a.eweb_popups_button:not([href]):visited {
    margin: 0;
    padding: .5rem 2rem;
    border-radius: .25rem;
    display: inline-block;

    font-size: 1.25rem;
    color: white;
    font-weight: 600;

    background: #317eff;

    cursor: pointer;
    text-decoration: none;
}

a.eweb_popups_button:hover,
a.eweb_popups_button:not([href]):hover {
    background: #4388ff;
    color: white;
}

.eweb_popups_close {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    position: absolute;
    top: 0;
    right: 1rem;
    transform: translateY(-50%);

    background: #222;

    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

    padding: .25rem .75rem;
    border-radius: 1rem;
    border: none;
}

.eweb_popups_close:hover {
    background: #333;
    border: none;
}